@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <!--   Kitchen Sink -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Jackpot Statistiques
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Operation</th>
                                <th>Value</th>
                                

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.msg)
                            {
                                <tr>

                                    <td>@item.Key</td>
                                    <td>@item.Value dt</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="@Url.Action("GetJackpots", "Jackpot")" class="btn btn-warning"><span class="fa fa-arrow-circle-left"></span>  Back</a>
        </div>
        <!-- End  Kitchen Sink -->
    </div>
</div>